
*.dat
Code/.DS_Store
Code/PARSEC/.ipynb_checkpoints/Test PARSEC-checkpoint.ipynb
.DS_Store
Code/PARSEC/PARSEC_2/parsec.pkl
Code/ZASPE/pyutil
Code/ZASPE/Plots
Code/ZASPE/.ipynb_checkpoints
Code/ZASPE/activist
